
 article {
    float: left;
    background-color: white;
    padding: 10px;
    border: 1px solid #95a4a5;
    width: 370px;
    margin: 0 0 0 7px;
    }

    article > h2 {
        background-color: #95a4a5;
        color: white;
        text-align: center;
        margin: -10px;        
        margin-bottom: 10px
    }

    article > p {
        text-align: center;
        font-size: 32px;
        margin: 20px 0;
    }

    article > ul {
        list-style: none;
        padding: 0;
        margin: 20px 0;
    }

    article > ul > li {
        text-align: center;
    }

    .botao {
        display: inline-block;
        background-color: #127d00;
        color: #fff;
        text-decoration: none;
        padding: 12px 16px;
    }

    .botao:hover {
        background-color: red;
    }

    .botao:focus {
        background-color: red
    }
    
